


$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f1f1f1; 
}
h1,h2,h3{
    padding: 0; margin: 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* .container {max-width: 730px;}*/

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* main */
.main-heading{margin: 20px 0 0px 20px ; letter-spacing: 2px; font-size: 40px; }
.sub-heading{margin: 5px 0 0 0 ; letter-spacing: 2px; font-size: 20px; }
.form-number { font-family: georgia; font-weight: bold;  }
.margin-top{margin-top: 50px}
.margin-top10{margin-top: 10px}
.margin-top20{margin-top: 20px}
.margin-right12{margin-right: 12px}
.margin-bottom{margin-bottom: 50px}
.margin-bottom20{margin-bottom: 20px}
.margin-bottom10{margin-bottom:10px}
.container-main{background:#fff; padding:50px 100px;border-right:1px #ddd solid; border-bottom:1px #ddd solid; margin-top:10px}
.container-main-dashboard{background:#fff; padding:20px}
.container-main-dashboard-full{height:auto}
.userList-full{height:auto}

.days {margin: 0 5px}
.days-row {text-align: center}
.userlist-full{height: auto}

.heading-main{padding-bottom: 30px}

.userList{list-style:none; padding:0}
.form-dashboard--add{background: #f1f1f1; padding:20px 0; margin-top:50px }

ul,li{list-style:none; padding:0}
.bo{border-top:1px #000 solid; border-left:1px #000 solid; padding-bottom: 5px;padding-top: 5px;}
.bot{border-top:1px #000 solid; border-left:1px #000 solid;padding-bottom: 12px;padding-top: 7px;}
.bo-nb{border-bottom: 0 none}
.bo-nt{border-top: 0 none}
.bo-yr{border-right: 1px #000 solid}
.bo-yb{border-bottom: 1px #000 solid}
@media print {
    /* Your styles here */
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        font: 11px Arial, Helvetica,"Lucida Grande", serif;
        color: #000;
        // font-size: 12pt;
    }
    div.divFooter {
            position: fixed;
            bottom: 0;}

    .main-heading{ font-size: 14pt; }
    .sub-heading{font-size: 12pt}
    .form-number{ font-size: 12pt} 
    .bot,.bo { font-size: 6pt; }
    .da { font-size: 5pt; }
    .footer, .push{page-break-after:always;}
}
